<!-- begin hero -->
<div class="hero">
	<div class="hero__inner inner">
		<div class="hero__top">
			<h1 class="hero__title title-lg">Бесплатный вебинар</h1>
			<h2 class="hero__subtitle title-md">10 ШАГОВ К СОЗДАНИЮ «САМОРАЗВИВАЮЩЕЙСЯ КОМПАНИИ» 
		(ВКЛЮЧАЯ СВОБОДУ, КАК УПРАВЛЯТЬ 3 КОМПАНИЯМИ 
		И ПРОЙТИ IRONMAN)</h2>
			<button class="hero__btn js-btn btn">
				<span>З</span>
				<span>а</span>
				<span>б</span>
				<span>р</span>
				<span>о</span>
				<span>н</span>
				<span>и</span>
				<span>р</span>
				<span>о</span>
				<span>в</span>
				<span>а</span>
				<span>т</span>
				<span>ь</span>
				<span>&nbsp;</span>
				<span>м</span>
				<span>е</span>
				<span>с</span>
				<span>т</span>
				<span>о</span>
				<span>&nbsp;</span>
				<span>></span>
				<span>></span>
			</button>
		</div>
		<div class="hero__content content">
			<div class="content__left">
				<div class="content__date date">
					<div class="date__left">
						<div class="date__month">Май</div>
						<div class="date__number">17</div>
					</div>
					<div class="date__right">
						<div class="date__day">Среда</div>
						<div class="date__date">17 мая</div>
						<div class="date__line"></div>
						<div class="date__time">20:00 МСК</div>
					</div>
				</div>
				<div class="content__spicker spicker">
					<div class="spicker__photo">
						<img src="img/spicker.png" alt="spicker">
					</div>
					<div class="spicker__position">Спикер</div>
					<div class="spicker__name">Иван <br> ЗИМБИЦКИЙ</div>
				</div>
				<ol class="content__list-description">
					<li class="content__item-description">Отец, блогер, путешественник, спортсмен</li>
					<li class="content__item-description">Владелец 3 бизнесов (детский футбол,          розница, онлайн)</li>
					<li class="content__item-description">Автор 6 книг и более 200 публикаций</li>
					<li class="content__item-description">Создал более 20 курсов и тренингов, которые прошли более 20 000 человек</li>
					<li class="content__item-description">Помог более 1 000 предпринимателей начать успешный бизнес</li>
					<li class="content__item-description">Владелец сети футбольных клубов для дошкольников</li>
					<li class="content__item-description">Успешно управляет более 130 людьми (и живет счастливо)</li>
					<li class="content__item-description">Создал мировую революцию в дестком футболе создав прибыльную модель футбольной школы для дошкольников от 3 до 7 лет</li>
					<li class="content__item-description">Выступал на одной сцене с Джорданом Белфордом (Волк с Уолл-Стрит)</li>
				</ol>
			</div>
			<div class="content__right">
				<div class="content__start start">
					<div class="start__title">
						До старта трансляции осталось…
					</div>
					<div class="start__timer">
						<div class="start__item">
							<p class="start__number">0</p>
							<p class="start__text">
								Дней
							</p>
						</div>
						<div class="start__item">
							<p class="start__number">0</p>
							<p class="start__text">
								Часов
							</p>
						</div>
						<div class="start__item">
							<p class="start__number">0</p>
							<p class="start__text">
								Минут
							</p>
						</div>
						<div class="start__item">
							<p class="start__number">0</p>
							<p class="start__text">
								Секунд
							</p>
						</div>
					</div>
				</div>
				<div class="content__title">Вот всего лишь малая часть из того, что ты узнаешь на вебинаре:</div>
				<ul class="content__list-info">
					<li class="content__item-info">Простая <span class="bold">10 шаговая система</span> для дизайна «Саморазвивающейся Компании» в 2017 году</li>
						<li class="content__item-info">Как решить проблему людей №1 и масштабироать бизнес в 10 раз</li>
						<li class="content__item-info">Какие <span class="bold">4 пункта</span> плана внедрить за следующие 6 месяцев, чтобы освободить 80% вашего время</li>
						<li class="content__item-info"><span class="bold">2 простых</span>и легкие для внедрения «фишки», которые радикально поднимут эффективность компании</li>
						<li class="content__item-info"><span class="bold">3 фундаментальные причины,</span> почему Ваш бизнес никогда не масштабируется на свой 100% потенциал прибыли </li>
						<li class="content__item-info"><span class="bold">Вы или Вас:</span> как перестать быть жертвой подчиненных и начать профессионально управлять людьми</li>
						<li class="content__item-info"><span class="bold">3 тактики,</span> которые превратят кризисную компанию в устойчивую и прибыльную в 2017 году </li>
						<li class="content__item-info"><span class="bold">Формула</span> как построить здоровую и умную компанию на долгие годы, чтобы и внуки вами гордились</li>	
				</ul>		
			</div>	
		</div>
		<div class="hero__bottom">
			<div class="hero__offline">
				Формат участия: живое присутствие в онлайн (повтора и записи не будет)<span class="big-text"> всего 500 мест</span>
			</div>
			<a href="#" class="hero__link">Для кого вебинар?</a>
			<div class="hero__text">Для существующих предпринимателей с чистым доходом от 150 000 рублей в месяц</div>
		</div>
	</div>
</div>
<!-- end hero -->

